<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AirlineManagementClient</display-name>
  <welcome-file-list>
    <welcome-file>AdminPage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminPage</servlet-name>
    <servlet-class>sjsu.cmpe273.client.servlet.AdminPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPage</servlet-name>
    <url-pattern>/adminAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddJourney</servlet-name>
    <servlet-class>sjsu.cmpe273.client.servlet.AddJourneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJourney</servlet-name>
    <url-pattern>/saveJourneyDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>sjsu.cmpe273.client.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>sjsu.cmpe273.client.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>sjsu.cmpe273.client.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateJourneyServlet</display-name>
    <servlet-name>CreateJourneyServlet</servlet-name>
    <servlet-class>sjsu.cmpe273.client.servlet.CreateJourneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateJourneyServlet</servlet-name>
    <url-pattern>/CreateJourneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JourneyServlet</display-name>
    <servlet-name>JourneyServlet</servlet-name>
    <servlet-class>sjsu.cmpe273.client.servlet.JourneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JourneyServlet</servlet-name>
    <url-pattern>/JourneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlightServlet</display-name>
    <servlet-name>SearchFlightServlet</servlet-name>
    <servlet-class>sjsu.cmpe273.client.servlet.SearchFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightServlet</servlet-name>
    <url-pattern>/SearchFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>sjsu.cmpe273.client.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>sjsu.cmpe273.client.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
</web-app>